body {
    background-color: black;
}

@media screen and (min-width: 1600px) {
    body {
        padding: 0% 15%;
    }
    
}

@media screen and (max-width: 1200px) {
    iframe {
        height: 300px;
    }
    
}

@media screen and (max-width: 768px) {
    #profile-picture {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .card-title {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 400px) {
    .card-title {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 350px) {
    .card-title {
        font-size: 1.0em;
    }

    p {
        font-size: 0.9em;
    }
}

header {
    margin-top: 1rem;
}

img {
    border-radius: 5px;
}

iframe {
    border-radius: 5px;
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
}

.card-title {
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.socials {
    display: flex;
    justify-content: flex-end;
}

.socials img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: white;
}