body {
    background-color: black;
}

@media screen and (min-width: 1600px) {
    body {
        padding: 0% 15%;
    }
    
}

img {
    border-radius: 5px;
}

iframe {
    border-radius: 5px;
}

.card-title {
    text-transform: uppercase;
    font-weight: bold;
}